* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #fafafa;
  vertical-align: baseline;
}

body {
  padding-right: 10px;
  padding-left: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: lighter;
  color: #3f3f3f;
}

h1 {
  font-size: 50px;
  letter-spacing: 5px;
  font-variant: small-caps;
  font-weight: 400;
}

a {
  color: #120a8f;
  text-decoration: none;
}

header {
  display: block;
  height: 15vh;
  margin-bottom: 50px;
}

header h1 {
  margin-left: 11%;
  margin-top: 60px;
}

nav {
  position: absolute;
  top: 80px;
  left: 55%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-variant: small-caps;
  font-size: 21px;
}

li {
  float: left;
  flex: 1;
}

li a {
  display: block;
  padding: 5px 26px 5px;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
  color: #3f3f3f;
}

li a.active {
  color: #120a8f;
  opacity: 1;
}

.in-text {
  text-decoration: none;
  opacity: 1;
}

a:hover[class="in-text"] {
  opacity: 0.5;
}

.highlight {
  color: #120a8f;
}

.text-wrap {
  margin-left: 25px;
}

footer {
  display: block;
  height: 10vh;
}

footer p {
  font-weight: lighter;
  text-align: center;
  margin-top: 0;
}

footer a {
  text-decoration-style: solid;
}

/* For construction page
.construction {
  font-size: 2rem;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 50vh;
} */

@media only screen and (min-width: 700px) {

  .hamburger {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 700px) {

  header {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  header h1 {
    font-size: 25px;
    margin: 25px;
    padding: 0;
  }

  .title-wrap {
    width: 80vh;
  }

  .nav-wrap {
    width: 20vh;
  }

  .img-wrap, .text-wrap {
    height: auto;
  }

  .img-wrap {
    display: block;
    margin: 0 auto 30px;
  }

  .hamburger {
    display: block;
    font-size: 25px;
    padding: 25px;
  }

  nav {
    position: fixed;
    top: 75px;
    left: 0;
    padding-bottom: 25px;
    width: 100vw;
    z-index: 1;
  }

  #nav-mobile, #mobile-toggle {
    display: none;
  }

  nav ul {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  nav li {
    margin-top: 30px;
  }

  footer {
    font-size: 10px;
  }
}

/* Tablets */
@media only screen and (max-width: 1100px) and (min-width: 700px) {

  h1 {
    font-size: 35px;
    letter-spacing: 0.4vh;
  }

  header {
    height: 15vh;
  }

  header h1 {
    margin-left: 11vw;
    margin-top: 5vh;
  }

  nav {
    position: absolute;
    top: 7vh;
    right: 10vh;
    width: 55vh;
  }

  ul {
    font-size: 1rem;
  }

  li {
    float: left;
    flex: 1;
  }

  li a {
    padding: 1vh 2vh 1vh;
  }

  footer {
    height: 10vh;
    font-size: 12px;
  }

  footer p {
    text-align: center;
    margin-top: 7vh;
  }
}