.teaching {
    width: 75%;
    margin: auto;
    margin-bottom: 100px;
}

h4 {
  font-size: 20px;
}

.info {
  margin-bottom: 50px;
}

#notes {
  margin-bottom: 50px;
}

h3 {
  font-size: 30px;
}

@media only screen and (min-width: 700px) {
  .web-only {
    display: inherit;
  } 
    
  .mobile-only {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
    .web-only {
        display: none;
    }
    
    .mobile-only {
        display: inherit;
    }
}